/* components/ui/ThemeToggle/ThemeToggle.module.css */
.toggleBtn {
  background: none;
  border: none;
  color: var(--color-text-primary);
  padding: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  /* Garante que o ícone fique contido */
  position: relative; 
}

.toggleBtn:hover {
  color: var(--color-text-secondary);
}

.iconWrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  /* Mude de 0.5s para 0.8s aqui também */
  transition: all 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* LUA */
.moon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.moon.hidden {
  opacity: 0;
  transform: rotate(90deg) scale(0);
}

/* SOL */
.sun {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.sun.hidden {
  opacity: 0;
  transform: rotate(-90deg) scale(0);
}